@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.form {
  @include flex-col-stretch();
  padding: 0;
  margin: 0;

  &-item {
    @include flex-col-stretch();
    margin-bottom: 0.2rem;

    &__label {
      display: block;
      @include font-primary(0.875rem, 600, 1rem);
      letter-spacing: 0.2px;
      line-height: 22px;
      color: #282829;
      padding-bottom: 0.3rem;
      cursor: pointer;
      margin-bottom: 0;
    }

    &__label-description {
      color: #a3a3a3;
      font-size: 0.875rem;
    }

    &__input-wrapper {
      @include flex-col-stretch();
      position: relative;

      input {
        width: 100%;
      }
    }

    &__input {
      @include font-primary(15px, 400, 25px);
    }

    &__dropdown {
      @include font-primary(15px, 400, 25px);
    }

    &__checkbox {
      flex: 0 0 30px;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: $input-bg;
      border: 2px solid $input-border-color;
      box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        @include abs-size(9px, 2px, 9px, 17px);
        border: solid transparent;
        border-width: 0 3px 3px 0;
        border-radius: 0;
        transform: rotate(45deg);
      }
    }

    &__bottom-label {
      @include font-primary(0.875rem, 500, 1.25rem);
      color: #a9a8aa;
      padding-top: 0.4rem;
      display: inline-block;

      &--error {
        color: $error;
      }
    }

    &__bottom-label-verify {
      @include font-primary(0.875rem, 500, 1.25rem);
      color: #a9a8aa;
      padding-top: 0.4rem;
      display: inline-block;

      &--error {
        color: $error;
        @include flex-col-stretch();
        margin-bottom: 0.5rem;
        margin-top: -1rem;
      }
    }
    &--disabled {
      .form-item__label {
        cursor: default;
        text-align: left;
        color: #39393a;
      }

      .form-check-label {
        color: #646467;
        opacity: 0.9 !important;
      }

    }

    //css to show char limit for textareas
    &__bottom-label-field {
      position: relative;
      margin-bottom: 0.5rem !important;
    }

    &__char-limit {
      padding-top: 0.2rem;
      position: absolute;
      right: 0;
      color: $lightgrey;
    }

    &--not-cursor {
      // cursor: not-allowed ;
      cursor: default;
    }
  }

  &-check {
    &-label {
      padding-left: 0.5rem;
    }
    &-description {
      padding-top: 0.3rem;
      padding-left: 0.5rem;
    }
  }
  
}

.radio-card{
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  padding: 1rem;
  padding-left: 2.5rem;
  margin-right: 0rem;
  cursor: pointer;

  &-active{
    border: 1px solid #0C39C7;
  }

  .bold{
    font-weight: 600;
  }

  .form-check-input{
    padding: 0.6rem;
  }

}


.radio-card.checkbox-style{
  margin-bottom: 1.2rem !important;
  }
