@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.input {
  background-color: $color-white;
  border: 1px solid $lightgrey;
  @include font-primary(1rem, normal, 25px);
  color: $dark-blue;
  border-radius: 4px;
  padding: 0.5rem 0 0.5rem 1rem;
  flex-grow: 1;

  &__icon {
    padding-left: 20px;
  }
  &:focus {
    background-color: $color-white;
    border: 1px solid #0c39c7;
    color: $dark-blue;
    outline: none;
  }

  &--full-width {
    width: 100%;
  }

  &--error,
  &--error:focus {
    background-color: $input-error-bg;
    border-color: $error;
    color: $error;
    outline: none;
  }

  &--textarea {
    min-height: 66px !important;
    overflow-y: hidden;
    resize: none;

    &:disabled {
      resize: vertical;
    }

    //align cursor with placholder for textarea when focused
    &:placeholder-shown {
      line-height: 21px;
    }
  }

  &:disabled {
    // background-color: $input-disabled-bg;
    // border-color: $input-disabled-border-color;
    // color: $input-disabled-text-color;
    color: $input-disabled-text-color;
  }

  &::placeholder {
    color: $darkgrey;
    @include font-primary(16, 400);
    opacity: 0.65;
  }
}

.icon-inside {
  position: absolute;
  top: 10px;
  pointer-events: none;
  margin-left: 10px;
  color: $gray;

  &__right {
    right: 1.5rem;
  }
}



//styling for the prefix added for input tags
.prefix-bg {
  background-color: rgb(249, 250, 251);
  color: rgb(107, 114, 128);
  border: 1px solid #cbcbcb;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  line-height: 25px;
  border-right: none;
}

//styling input tag with a prefix
.prefix-bg + .input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  // @include respond-below(sm) {
  //   border-top-left-radius: 4px;
  //   border-bottom-left-radius: 4px;
  // }

  &__icon {
    padding-left: 1rem;
  }
}

.mobile-span {
  @include respond-below(sm) {
    flex-direction: column;
  }
}

.prefix-bg-mobile {
  @include respond-below(sm) {
    border-radius: 4px;
    border-right: 1px solid #cbcbcb;
    margin-bottom: 0.5rem;
    width: fit-content;
  }
}

.prefix-bg-mobile + input {
  @include respond-below(sm) {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
}
